<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Notepad App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="styles.css">

</head>
<body>
<div id='app'>
  <aside>

    <div class='inner'>
      <a id="btnn" v-if='notes.length' href='#' @click.prevent='clearCurrentNote'>New note</a>
      <p id="deftxt" v-else>No notes! Get writing</p>
    </div>
    
    <div class='notes' v-if='notes.length'>
      <div class='note' v-for='note in notesSorted'>
        <a href='#' class='remove' @click.prevent='deleteNote(note.id)'><span class='icon'>&#x2716;</span></a>
        <div class='note-inner'>
          <a href='#' class='title' @click.prevent='openNote(note)'>
            <span v-if='note.title'>{{ note.title }}</span>
            <span v-else>Untitled note</span>
          </a>
          <p class='body'>
            <span v-if='note.body'>{{ note.body }}</span>
            <span v-else>Empty</span>
          </p>
        </div>
      </div>
    </div>

  </aside>
  
  <main>
    <input id="ipt" type='text' placeholder='Title goes here' v-model='note.title' v-on:keydown='saveNote'>
    <textarea placeholder='Start typing...' v-model='note.body' v-on:keydown='saveNote'></textarea>
    <footer>
      <p>Words: {{ wordCount }}</p>
      <p>Last saved: {{ lastSaved }}</p>
    </footer>
  </main>

</div>

<script src='https://unpkg.com/vue/dist/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src="script.js"></script>

</body>
</html>
